In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = sns.load_dataset('taxis')

In [3]:
BACKUP = df.copy()

In [4]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [5]:
df.shape

(6433, 14)

In [6]:
df.size

90062

In [7]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [9]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [10]:
df.tail()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [11]:
df.sample()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
132,2019-03-12 13:01:22,2019-03-12 13:04:25,1,0.6,4.0,0.0,0.0,7.3,yellow,cash,Kips Bay,Murray Hill,Manhattan,Manhattan

In [13]:
df.sample(50)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
5072,2019-03-10 16:00:57,2019-03-10 16:19:30,6,2.83,13.50,0.00,0.00,16.80,yellow,cash,Lenox Hill East,Penn Station/Madison Sq West,Manhattan,Manhattan
3506,2019-03-18 15:16:58,2019-03-18 15:32:16,2,3.65,14.50,3.66,0.00,21.96,yellow,credit card,Financial District North,Cobble Hill,Manhattan,Brooklyn
5767,2019-03-15 16:29:17,2019-03-15 17:37:52,1,11.64,49.00,10.71,0.00,64.26,green,credit card,Washington Heights South,Midtown South,Manhattan,Manhattan
213,2019-03-30 11:31:52,2019-03-30 11:35:10,1,0.30,4.00,3.00,0.00,10.30,yellow,credit card,Greenwich Village South,East Village,Manhattan,Manhattan
2735,2019-03-09 18:52:30,2019-03-09 19:03:15,1,1.32,8.50,1.00,0.00,12.80,yellow,credit card,West Village,East Village,Manhattan,Manhattan
2417,2019-03-25 19:53:30,2019-03-25 20:03:42,1,3.20,11.50,0.00,0.00,15.80,yellow,cash,Clinton East,Upper West Side South,Manhattan,Manhattan
2284,2019-03-31 12:21:18,2019-03-31 12:47:19,2,3.80,18.50,4.35,0.00,26.15,yellow,credit card,Flatiron,Upper East Side North,Manhattan,Manhattan
3169,2019-03-19 22:24:14,2019-03-19 22:27:40,2,0.80,5.00,2.20,0.00,11.00,yellow,credit card,Midtown East,Upper East Side South,Manhattan,Manhattan
5754,2019-03-16 19:00:03,2019-03-16 19:55:59,1,19.57,56.12,0.00,5.76,62.38,green,credit card,East Flatbush/Farragut,Soundview/Castle Hill,Brooklyn,Bronx
918,2019-03-05 10:01:27,2019-03-05 10:16:57,1,2.40,12.00,3.05,0.00,18.35,yellow,credit card,Penn Station/Madison Sq West,TriBeCa/Civic Center,Manhattan,Manhattan
2708,2019-03-11 10:40:57,2019-03-11 11:23:14,4,18.25,52.00,10.00,5.76,71.06,yellow,credit card,JFK Airport,Midtown South,Queens,Manhattan
1606,2019-03-09 12:14:24,2019-03-09 12:19:56,1,0.91,6.00,1.86,0.00,11.16,yellow,credit card,Lincoln Square East,Upper West Side South,Manhattan,Manhattan
6405,2019-03-21 18:28:55,2019-03-21 18:51:08,2,3.88,16.50,0.00,0.00,18.30,green,cash,Boerum Hill,Ocean Hill,Brooklyn,Brooklyn
931,2019-03-09 06:27:43,2019-03-09 06:34:34,1,1.71,8.00,0.01,0.00,11.31,yellow,credit card,Gramercy,Lower East Side,Manhattan,Manhattan
943,2019-03-27 14:37:38,2019-03-27 14:44:19,1,1.28,6.50,0.00,0.00,9.80,yellow,cash,Lincoln Square West,Upper West Side North,Manhattan,Manhattan
1374,2019-03-28 09:50:52,2019-03-28 09:57:13,1,0.80,6.00,0.00,0.00,6.80,yellow,cash,East Harlem South,East Harlem North,Manhattan,Manhattan
323,2019-03-19 09:38:21,2019-03-19 09:58:34,5,3.27,15.00,0.92,0.00,19.22,yellow,credit card,Kips Bay,East Chelsea,Manhattan,Manhattan
4497,2019-03-10 00:34:10,2019-03-10 00:59:42,1,8.45,27.00,0.00,0.00,30.80,yellow,credit card,Penn Station/Madison Sq West,East Concourse/Concourse Village,Manhattan,Bronx
5376,2019-03-15 07:19:18,2019-03-15 07:33:21,1,1.72,10.50,3.45,0.00,17.25,yellow,credit card,Penn Station/Madison Sq West,Midtown East,Manhattan,Manhattan
4161,2019-03-14 19:47:50,2019-03-14 19:50:22,1,0.53,4.00,0.00,0.00,8.30,yellow,cash,Upper East Side North,Upper East Side South,Manhattan,Manhattan
338,2019-03-31 19:48:55,2019-03-31 20:00:50,1,1.22,8.50,0.00,0.00,11.80,yellow,cash,Greenwich Village North,Meatpacking/West Village West,Manhattan,Manhattan
1490,2019-03-29 15:28:10,2019-03-29 15:40:08,1,0.90,9.00,2.45,0.00,14.75,yellow,credit card,Yorkville West,Upper East Side North,Manhattan,Manhattan
1834,2019-03-04 00:46:26,2019-03-04 01:28:11,1,18.98,52.00,13.82,0.00,69.12,yellow,credit card,JFK Airport,Upper East Side North,Queens,Manhattan
3200,2019-03-17 23:33:52,2019-03-17 23:38:49,3,0.94,5.50,0.00,0.00,9.30,yellow,cash,Times Sq/Theatre District,Lincoln Square East,Manhattan,Manhattan
2328,2019-03-24 15:52:23,2019-03-24 16:36:47,1,16.75,52.00,5.50,5.76,66.56,yellow,credit card,Murray Hill,JFK Airport,Manhattan,Queens
2704,2019-03-20 00:07:20,2019-03-20 00:08:51,1,0.20,3.00,0.00,0.00,6.80,yellow,cash,SoHo,Little Italy/NoLiTa,Manhattan,Manhattan
2897,2019-03-10 12:15:39,2019-03-10 12:26:06,4,1.80,9.00,2.45,0.00,14.75,yellow,credit card,Upper East Side North,Lincoln Square East,Manhattan,Manhattan
4886,2019-03-17 21:29:30,2019-03-17 21:32:50,1,0.91,4.50,1.66,0.00,9.96,yellow,credit card,Lenox Hill West,Lenox Hill West,Manhattan,Manhattan
1173,2019-03-12 21:07:06,2019-03-12 21:18:45,1,2.35,10.50,0.00,0.00,14.30,yellow,cash,Central Park,Clinton East,Manhattan,Manhattan
2804,2019-03-19 16:53:04,2019-03-19 16:56:52,1,0.94,5.00,1.86,0.00,11.16,yellow,credit card,Upper East Side South,Lincoln Square East,Manhattan,Manhattan
3982,2019-03-13 22:49:08,2019-03-13 23:01:58,1,2.90,11.50,3.06,0.00,18.36,yellow,credit card,Upper West Side South,Penn Station/Madison Sq West,Manhattan,Manhattan
1643,2019-03-24 20:23:53,2019-03-24 20:46:32,1,8.80,27.00,4.00,5.76,40.56,yellow,credit card,LaGuardia Airport,Upper East Side South,Queens,Manhattan
3437,2019-03-11 18:55:31,2019-03-11 19:19:40,1,5.09,20.00,0.00,0.00,24.30,yellow,cash,SoHo,Lenox Hill East,Manhattan,Manhattan
3146,2019-03-12 22:37:37,2019-03-12 22:43:19,2,1.00,6.00,1.95,0.00,11.75,yellow,credit card,Upper East Side South,Central Park,Manhattan,Manhattan
2166,2019-03-07 17:46:31,2019-03-07 18:11:54,1,4.77,19.00,0.00,0.00,23.30,yellow,cash,Upper West Side South,East Chelsea,Manhattan,Manhattan
2401,2019-03-09 17:33:18,2019-03-09 17:37:04,1,0.94,5.00,1.66,0.00,9.96,yellow,credit card,Midtown East,Upper East Side South,Manhattan,Manhattan
1595,2019-03-21 07:46:28,2019-03-21 09:04:44,1,12.78,52.00,11.06,0.00,66.36,yellow,credit card,South Ozone Park,Little Italy/NoLiTa,Queens,Manhattan
2148,2019-03-24 10:36:40,2019-03-24 11:03:03,1,4.09,19.00,0.00,0.00,22.30,yellow,cash,Battery Park City,Midtown South,Manhattan,Manhattan
4533,2019-03-28 22:29:41,2019-03-28 22:45:48,5,6.72,20.50,0.00,0.00,21.80,yellow,cash,JFK Airport,Richmond Hill,Queens,Queens
5715,2019-03-28 11:55:42,2019-03-28 12:11:41,1,1.56,11.00,0.00,0.00,11.80,green,cash,Erasmus,Flatbush/Ditmas Park,Brooklyn,Brooklyn
5550,2019-03-16 13:13:38,2019-03-16 13:20:59,1,1.26,7.00,0.00,0.00,7.80,green,cash,Bushwick South,Bushwick North,Brooklyn,Brooklyn
2512,2019-03-10 08:26:41,2019-03-10 08:34:14,1,3.42,12.00,0.00,5.76,18.56,yellow,cash,Steinway,East Harlem North,Queens,Manhattan
2590,2019-03-12 20:15:25,2019-03-12 20:23:19,1,1.27,7.00,2.16,0.00,12.96,yellow,credit card,Meatpacking/West Village West,TriBeCa/Civic Center,Manhattan,Manhattan
1143,2019-03-22 06:42:24,2019-03-22 06:46:54,1,0.68,5.00,0.00,0.00,8.30,yellow,cash,Murray Hill,Garment District,Manhattan,Manhattan
257,2019-03-11 18:18:44,2019-03-11 18:26:55,1,1.13,7.00,1.70,0.00,13.00,yellow,credit card,Lenox Hill West,Midtown Center,Manhattan,Manhattan
4121,2019-03-02 10:52:25,2019-03-02 10:59:52,2,1.89,8.50,2.95,0.00,14.75,yellow,credit card,Midtown North,Upper West Side South,Manhattan,Manhattan
3206,2019-03-26 17:42:42,2019-03-26 17:56:21,1,1.73,10.00,2.00,0.00,16.30,yellow,credit card,East Village,UN/Turtle Bay South,Manhattan,Manhattan
1722,2019-03-27 08:18:32,2019-03-27 08:33:35,5,3.54,14.50,4.45,0.00,22.25,yellow,credit card,East Village,Financial District South,Manhattan,Manhattan
586,2019-03-14 08:56:08,2019-03-14 09:23:15,1,3.20,18.50,0.00,0.00,21.80,yellow,cash,Garment District,Upper West Side North,Manhattan,Manhattan
1971,2019-03-01 18:27:55,2019-03-01 19:06:42,1,14.06,40.50,0.00,5.76,50.56,yellow,credit card,LaGuardia Airport,Times Sq/Theatre District,Queens,Manhattan

In [14]:
df[df['tolls']>0]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.5,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.0,0.00,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan
56,2019-03-05 17:57:00,2019-03-05 18:45:25,2,19.59,52.0,0.00,5.76,65.56,yellow,credit card,JFK Airport,Upper East Side North,Queens,Manhattan
92,2019-03-28 07:05:19,2019-03-28 07:41:14,0,10.60,33.5,0.00,5.76,40.06,yellow,credit card,East Tremont,Midtown East,Bronx,Manhattan
104,2019-03-28 13:29:48,2019-03-28 13:56:36,3,9.50,30.0,0.00,5.76,39.06,yellow,cash,Queensboro Hill,Midtown South,Queens,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,2019-03-13 13:04:49,2019-03-13 13:44:25,1,12.06,39.0,0.00,2.64,42.44,green,credit card,Co-Op City,University Heights/Morris Heights,Bronx,Bronx
6292,2019-03-05 20:14:04,2019-03-05 21:25:59,1,22.81,70.0,0.00,5.76,77.06,green,credit card,Midwood,East Concourse/Concourse Village,Brooklyn,Bronx
6362,2019-03-08 03:34:43,2019-03-08 04:20:37,1,21.37,62.5,0.00,5.76,69.56,green,credit card,Coney Island,Clinton West,Brooklyn,Manhattan
6383,2019-03-24 19:42:37,2019-03-24 19:59:38,1,8.88,25.5,6.41,5.76,38.47,green,credit card,Flushing,East Harlem North,Queens,Manhattan
6417,2019-03-10 12:10:45,2019-03-10 12:43:05,2,11.17,35.0,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan

In [15]:
df.count()

pickup             6433
dropoff            6433
passengers         6433
distance           6433
fare               6433
tip                6433
tolls              6433
total              6433
color              6433
payment            6389
pickup_zone        6407
dropoff_zone       6388
pickup_borough     6407
dropoff_borough    6388
dtype: int64

In [16]:
df[df['pickup'].isna()]

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

## ignore, fill with 0 or 1 average, or minimum, max, remove the row

In [17]:
## if we have blank data what we do with it then these upeer are the three things we can do

In [18]:
## eg. ignore the surname if blank in data, take average if a person don't write it's payment

In [19]:
df['payment']

0       credit card
1              cash
2       credit card
3       credit card
4       credit card
           ...
6428    credit card
6429    credit card
6430           cash
6431    credit card
6432    credit card
Name: payment, Length: 6433, dtype: object

In [20]:
df[df['payment'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.4,8.5,0.0,0.00,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
445,2019-03-19 06:57:14,2019-03-19 07:00:08,1,1.3,5.5,0.0,0.00,6.30,yellow,NaN,Boerum Hill,Columbia Street,Brooklyn,Brooklyn
491,2019-03-07 07:11:33,2019-03-07 07:11:39,1,1.6,2.5,0.0,0.00,5.80,yellow,NaN,Murray Hill,Murray Hill,Manhattan,Manhattan
545,2019-03-27 11:03:43,2019-03-27 11:14:34,1,4.2,15.0,0.0,0.00,15.80,yellow,NaN,LaGuardia Airport,Forest Hills,Queens,Queens
621,2019-03-15 17:16:35,2019-03-15 17:25:01,1,1.3,7.5,0.0,0.00,11.80,yellow,NaN,Upper East Side North,Upper East Side South,Manhattan,Manhattan
770,2019-03-02 03:16:59,2019-03-02 03:17:06,0,9.4,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
913,2019-03-23 11:26:58,2019-03-23 11:35:17,2,1.3,7.5,0.0,0.00,10.80,yellow,NaN,Upper East Side South,Lincoln Square West,Manhattan,Manhattan
953,2019-03-08 02:58:37,2019-03-08 03:19:27,2,6.9,23.5,0.0,0.00,27.30,yellow,NaN,Garment District,Central Harlem North,Manhattan,Manhattan
1207,2019-03-08 15:41:20,2019-03-08 15:41:23,1,0.0,2.5,0.0,0.00,5.80,yellow,NaN,Hudson Sq,Hudson Sq,Manhattan,Manhattan
1372,2019-03-12 09:19:44,2019-03-12 09:43:09,1,1.6,14.5,0.0,0.00,17.80,yellow,NaN,Midtown East,Garment District,Manhattan,Manhattan
1566,2019-03-18 02:20:59,2019-03-18 02:49:24,1,6.0,23.0,0.0,0.00,26.80,yellow,NaN,TriBeCa/Civic Center,Bushwick South,Manhattan,Brooklyn
1690,2019-03-22 06:24:14,2019-03-22 06:24:14,1,0.0,72.0,0.0,0.00,72.00,yellow,NaN,East New York,NaN,Brooklyn,NaN
1704,2019-03-17 04:22:54,2019-03-17 04:44:43,2,4.3,17.5,0.0,0.00,21.30,yellow,NaN,Lower East Side,Bushwick South,Manhattan,Brooklyn
1737,2019-03-29 19:43:51,2019-03-29 19:52:28,1,3.7,12.0,0.0,0.00,13.80,yellow,NaN,JFK Airport,Baisley Park,Queens,Queens
1851,2019-03-02 19:20:18,2019-03-02 19:21:06,1,0.1,2.5,0.0,0.00,5.80,yellow,NaN,Lenox Hill West,Upper East Side South,Manhattan,Manhattan
1860,2019-03-01 11:58:50,2019-03-01 12:10:26,1,0.9,8.5,0.0,0.00,11.80,yellow,NaN,Yorkville West,Upper East Side North,Manhattan,Manhattan
1929,2019-03-13 22:35:35,2019-03-13 22:35:49,1,0.0,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
1941,2019-03-30 16:57:00,2019-03-30 17:16:31,2,2.6,14.5,0.0,0.00,17.80,yellow,NaN,Two Bridges/Seward Park,Murray Hill,Manhattan,Manhattan
2353,2019-03-21 10:46:14,2019-03-21 11:06:33,2,2.8,14.0,0.0,0.00,17.30,yellow,NaN,Garment District,Little Italy/NoLiTa,Manhattan,Manhattan
2444,2019-03-10 11:06:54,2019-03-10 11:16:13,1,1.4,8.0,0.0,0.00,11.30,yellow,NaN,Lincoln Square East,Times Sq/Theatre District,Manhattan,Manhattan
3109,2019-03-01 22:48:59,2019-03-01 22:50:37,1,0.0,3.0,0.0,0.00,6.80,yellow,NaN,Times Sq/Theatre District,Times Sq/Theatre District,Manhattan,Manhattan
3372,2019-03-09 13:48:43,2019-03-09 13:59:10,0,1.3,8.5,0.0,0.00,11.80,yellow,NaN,Upper West Side South,Midtown North,Manhattan,Manhattan
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.5,6.5,0.0,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan
3803,2019-03-28 19:48:00,2019-03-28 20:31:39,1,17.7,52.0,0.0,5.76,65.56,yellow,NaN,JFK Airport,Penn Station/Madison Sq West,Queens,Manhattan
3983,2019-03-06 21:20:27,2019-03-06 22:15:45,0,9.3,41.5,0.0,5.76,51.06,yellow,NaN,Midtown Center,Forest Hills,Manhattan,Queens
4230,2019-03-13 15:39:06,2019-03-13 15:50:27,1,1.8,9.5,0.0,0.00,12.80,yellow,NaN,Midtown Center,Union Sq,Manhattan,Manhattan
4384,2019-03-14 06:58:59,2019-03-14 07:08:24,1,1.8,8.5,0.0,0.00,9.30,yellow,NaN,East Harlem North,Morningside Heights,Manhattan,Manhattan
4474,2019-03-09 00:20:47,2019-03-09 00:27:37,4,0.7,6.0,0.0,0.00,9.80,yellow,NaN,East Village,Stuy Town/Peter Cooper Village,Manhattan,Manhattan
4515,2019-03-31 09:42:47,2019-03-31 09:53:15,1,1.9,9.0,0.0,0.00,12.30,yellow,NaN,Garment District,West Chelsea/Hudson Yards,Manhattan,Manhattan
4562,2019-03-03 23:02:48,2019-03-03 23:02:57,1,0.1,20.0,0.0,0.00,20.80,yellow,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens
4746,2019-03-12 07:06:07,2019-03-12 07:06:21,1,1.3,2.5,0.0,0.00,5.80,yellow,NaN,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
4801,2019-03-26 15:30:50,2019-03-26 15:42:59,1,1.2,9.0,0.0,0.00,12.30,yellow,NaN,TriBeCa/Civic Center,Battery Park City,Manhattan,Manhattan
4842,2019-03-08 02:56:38,2019-03-08 03:07:24,1,2.4,10.5,0.0,0.00,14.30,yellow,NaN,Murray Hill,West Village,Manhattan,Manhattan
4915,2019-03-02 19:01:36,2019-03-02 19:08:46,0,1.4,7.0,0.0,0.00,10.30,yellow,NaN,Upper East Side South,Murray Hill,Manhattan,Manhattan
4955,2019-03-23 11:07:11,2019-03-23 11:32:46,1,0.0,19.0,0.0,0.00,22.30,yellow,NaN,West Village,Upper East Side South,Manhattan,Manhattan
5046,2019-03-15 00:10:38,2019-03-15 00:21:39,1,3.1,12.5,0.0,0.00,16.30,yellow,NaN,West Chelsea/Hudson Yards,Upper West Side South,Manhattan,Manhattan
5068,2019-03-30 11:38:20,2019-03-30 11:40:45,1,0.2,3.5,0.0,0.00,6.80,yellow,NaN,Upper West Side North,Upper West Side North,Manhattan,Manhattan
5207,2019-03-19 12:30:27,2019-03-19 12:49:12,0,2.1,13.0,0.0,0.00,16.30,yellow,NaN,Penn Station/Madison Sq West,Lincoln Square East,Manhattan,Manhattan
5284,2019-03-22 06:24:02,2019-03-22 06:24:11,1,1.7,2.5,0.0,0.00,5.80,yellow,NaN,Midtown North,Midtown North,Manhattan,Manhattan
5586,2019-03-22 22:56:44,2019-03-22 23:02:09,1,1.0,5.5,0.0,0.00,6.80,green,NaN,Hamilton Heights,West Concourse,Manhattan,Bronx
5809,2019-03-02 16:24:08,2019-03-02 16:26:36,1,0.6,4.0,0.0,0.00,4.80,green,NaN,Morningside Heights,Hamilton Heights,Manhattan,Manhattan
5821,2019-03-11 19:36:02,2019-03-11 19:36:14,1,0.1,2.5,0.0,0.00,4.30,green,NaN,Crown Heights South,Crown Heights South,Brooklyn,Brooklyn
6169,2019-03-27 02:11:01,2019-03-27 02:12:03,1,4.1,3.0,0.0,0.00,4.30,green,NaN,Jackson Heights,Jackson Heights,Queens,Queens
6311,2019-03-12 07:10:30,2019-03-12 07:14:18,1,0.7,4.5,0.0,0.00,5.30,green,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens

In [21]:
df['payment'].fillna('other',inplace = True)

In [22]:
df[df['payment'].isna()]

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

In [23]:
df = BACKUP.copy()

In [24]:
df[df['payment'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.4,8.5,0.0,0.00,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
445,2019-03-19 06:57:14,2019-03-19 07:00:08,1,1.3,5.5,0.0,0.00,6.30,yellow,NaN,Boerum Hill,Columbia Street,Brooklyn,Brooklyn
491,2019-03-07 07:11:33,2019-03-07 07:11:39,1,1.6,2.5,0.0,0.00,5.80,yellow,NaN,Murray Hill,Murray Hill,Manhattan,Manhattan
545,2019-03-27 11:03:43,2019-03-27 11:14:34,1,4.2,15.0,0.0,0.00,15.80,yellow,NaN,LaGuardia Airport,Forest Hills,Queens,Queens
621,2019-03-15 17:16:35,2019-03-15 17:25:01,1,1.3,7.5,0.0,0.00,11.80,yellow,NaN,Upper East Side North,Upper East Side South,Manhattan,Manhattan
770,2019-03-02 03:16:59,2019-03-02 03:17:06,0,9.4,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
913,2019-03-23 11:26:58,2019-03-23 11:35:17,2,1.3,7.5,0.0,0.00,10.80,yellow,NaN,Upper East Side South,Lincoln Square West,Manhattan,Manhattan
953,2019-03-08 02:58:37,2019-03-08 03:19:27,2,6.9,23.5,0.0,0.00,27.30,yellow,NaN,Garment District,Central Harlem North,Manhattan,Manhattan
1207,2019-03-08 15:41:20,2019-03-08 15:41:23,1,0.0,2.5,0.0,0.00,5.80,yellow,NaN,Hudson Sq,Hudson Sq,Manhattan,Manhattan
1372,2019-03-12 09:19:44,2019-03-12 09:43:09,1,1.6,14.5,0.0,0.00,17.80,yellow,NaN,Midtown East,Garment District,Manhattan,Manhattan
1566,2019-03-18 02:20:59,2019-03-18 02:49:24,1,6.0,23.0,0.0,0.00,26.80,yellow,NaN,TriBeCa/Civic Center,Bushwick South,Manhattan,Brooklyn
1690,2019-03-22 06:24:14,2019-03-22 06:24:14,1,0.0,72.0,0.0,0.00,72.00,yellow,NaN,East New York,NaN,Brooklyn,NaN
1704,2019-03-17 04:22:54,2019-03-17 04:44:43,2,4.3,17.5,0.0,0.00,21.30,yellow,NaN,Lower East Side,Bushwick South,Manhattan,Brooklyn
1737,2019-03-29 19:43:51,2019-03-29 19:52:28,1,3.7,12.0,0.0,0.00,13.80,yellow,NaN,JFK Airport,Baisley Park,Queens,Queens
1851,2019-03-02 19:20:18,2019-03-02 19:21:06,1,0.1,2.5,0.0,0.00,5.80,yellow,NaN,Lenox Hill West,Upper East Side South,Manhattan,Manhattan
1860,2019-03-01 11:58:50,2019-03-01 12:10:26,1,0.9,8.5,0.0,0.00,11.80,yellow,NaN,Yorkville West,Upper East Side North,Manhattan,Manhattan
1929,2019-03-13 22:35:35,2019-03-13 22:35:49,1,0.0,2.5,0.0,0.00,3.80,yellow,NaN,JFK Airport,JFK Airport,Queens,Queens
1941,2019-03-30 16:57:00,2019-03-30 17:16:31,2,2.6,14.5,0.0,0.00,17.80,yellow,NaN,Two Bridges/Seward Park,Murray Hill,Manhattan,Manhattan
2353,2019-03-21 10:46:14,2019-03-21 11:06:33,2,2.8,14.0,0.0,0.00,17.30,yellow,NaN,Garment District,Little Italy/NoLiTa,Manhattan,Manhattan
2444,2019-03-10 11:06:54,2019-03-10 11:16:13,1,1.4,8.0,0.0,0.00,11.30,yellow,NaN,Lincoln Square East,Times Sq/Theatre District,Manhattan,Manhattan
3109,2019-03-01 22:48:59,2019-03-01 22:50:37,1,0.0,3.0,0.0,0.00,6.80,yellow,NaN,Times Sq/Theatre District,Times Sq/Theatre District,Manhattan,Manhattan
3372,2019-03-09 13:48:43,2019-03-09 13:59:10,0,1.3,8.5,0.0,0.00,11.80,yellow,NaN,Upper West Side South,Midtown North,Manhattan,Manhattan
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.5,6.5,0.0,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan
3803,2019-03-28 19:48:00,2019-03-28 20:31:39,1,17.7,52.0,0.0,5.76,65.56,yellow,NaN,JFK Airport,Penn Station/Madison Sq West,Queens,Manhattan
3983,2019-03-06 21:20:27,2019-03-06 22:15:45,0,9.3,41.5,0.0,5.76,51.06,yellow,NaN,Midtown Center,Forest Hills,Manhattan,Queens
4230,2019-03-13 15:39:06,2019-03-13 15:50:27,1,1.8,9.5,0.0,0.00,12.80,yellow,NaN,Midtown Center,Union Sq,Manhattan,Manhattan
4384,2019-03-14 06:58:59,2019-03-14 07:08:24,1,1.8,8.5,0.0,0.00,9.30,yellow,NaN,East Harlem North,Morningside Heights,Manhattan,Manhattan
4474,2019-03-09 00:20:47,2019-03-09 00:27:37,4,0.7,6.0,0.0,0.00,9.80,yellow,NaN,East Village,Stuy Town/Peter Cooper Village,Manhattan,Manhattan
4515,2019-03-31 09:42:47,2019-03-31 09:53:15,1,1.9,9.0,0.0,0.00,12.30,yellow,NaN,Garment District,West Chelsea/Hudson Yards,Manhattan,Manhattan
4562,2019-03-03 23:02:48,2019-03-03 23:02:57,1,0.1,20.0,0.0,0.00,20.80,yellow,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens
4746,2019-03-12 07:06:07,2019-03-12 07:06:21,1,1.3,2.5,0.0,0.00,5.80,yellow,NaN,Meatpacking/West Village West,Meatpacking/West Village West,Manhattan,Manhattan
4801,2019-03-26 15:30:50,2019-03-26 15:42:59,1,1.2,9.0,0.0,0.00,12.30,yellow,NaN,TriBeCa/Civic Center,Battery Park City,Manhattan,Manhattan
4842,2019-03-08 02:56:38,2019-03-08 03:07:24,1,2.4,10.5,0.0,0.00,14.30,yellow,NaN,Murray Hill,West Village,Manhattan,Manhattan
4915,2019-03-02 19:01:36,2019-03-02 19:08:46,0,1.4,7.0,0.0,0.00,10.30,yellow,NaN,Upper East Side South,Murray Hill,Manhattan,Manhattan
4955,2019-03-23 11:07:11,2019-03-23 11:32:46,1,0.0,19.0,0.0,0.00,22.30,yellow,NaN,West Village,Upper East Side South,Manhattan,Manhattan
5046,2019-03-15 00:10:38,2019-03-15 00:21:39,1,3.1,12.5,0.0,0.00,16.30,yellow,NaN,West Chelsea/Hudson Yards,Upper West Side South,Manhattan,Manhattan
5068,2019-03-30 11:38:20,2019-03-30 11:40:45,1,0.2,3.5,0.0,0.00,6.80,yellow,NaN,Upper West Side North,Upper West Side North,Manhattan,Manhattan
5207,2019-03-19 12:30:27,2019-03-19 12:49:12,0,2.1,13.0,0.0,0.00,16.30,yellow,NaN,Penn Station/Madison Sq West,Lincoln Square East,Manhattan,Manhattan
5284,2019-03-22 06:24:02,2019-03-22 06:24:11,1,1.7,2.5,0.0,0.00,5.80,yellow,NaN,Midtown North,Midtown North,Manhattan,Manhattan
5586,2019-03-22 22:56:44,2019-03-22 23:02:09,1,1.0,5.5,0.0,0.00,6.80,green,NaN,Hamilton Heights,West Concourse,Manhattan,Bronx
5809,2019-03-02 16:24:08,2019-03-02 16:26:36,1,0.6,4.0,0.0,0.00,4.80,green,NaN,Morningside Heights,Hamilton Heights,Manhattan,Manhattan
5821,2019-03-11 19:36:02,2019-03-11 19:36:14,1,0.1,2.5,0.0,0.00,4.30,green,NaN,Crown Heights South,Crown Heights South,Brooklyn,Brooklyn
6169,2019-03-27 02:11:01,2019-03-27 02:12:03,1,4.1,3.0,0.0,0.00,4.30,green,NaN,Jackson Heights,Jackson Heights,Queens,Queens
6311,2019-03-12 07:10:30,2019-03-12 07:14:18,1,0.7,4.5,0.0,0.00,5.30,green,NaN,Long Island City/Hunters Point,Long Island City/Hunters Point,Queens,Queens

### Adding a column

In [25]:
df['profit']=df['total'] - df['fare'] - df['tip'] - df['tolls']

In [26]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,profit
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,3.8
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,4.3
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,4.3
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,3.8
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.8
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.8
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,1.3
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.8
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,1.8

In [27]:
#replace profit by half

In [28]:
df['profit']/2

0       1.90
1       2.15
2       2.15
3       1.90
4       1.65
        ...
6428    0.40
6429    0.40
6430    0.65
6431    0.40
6432    0.90
Name: profit, Length: 6433, dtype: float64

In [29]:
df['profit']= df['profit']/2

In [30]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,profit
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,1.90
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2.15
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2.15
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,1.90
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.40
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.40
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0.65
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.40
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0.90

In [31]:
df['payment']= df['payment'].fillna('other')

In [32]:
df['payment'].isna().count()

np.int64(6433)

In [33]:
df.drop('profit',axis=1,inplace=True)

In [34]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6433 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [36]:
df[df['pickup_zone'].isna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
606,2019-03-19 15:04:40,2019-03-19 15:06:15,1,0.40,3.5,1.35,0.00,8.15,yellow,credit card,NaN,Upper East Side South,NaN,Manhattan
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.20,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN
671,2019-03-09 22:45:46,2019-03-09 22:46:50,1,0.40,3.5,0.00,0.00,7.30,yellow,cash,NaN,Lincoln Square East,NaN,Manhattan
712,2019-03-03 01:24:45,2019-03-03 01:29:32,1,0.80,5.0,1.75,0.00,10.55,yellow,credit card,NaN,West Chelsea/Hudson Yards,NaN,Manhattan
970,2019-03-29 00:02:00,2019-03-29 00:02:05,2,0.00,45.0,5.00,0.00,50.30,yellow,credit card,NaN,NaN,NaN,NaN
1108,2019-03-10 09:33:13,2019-03-10 09:52:04,1,13.40,52.0,11.70,5.76,70.26,yellow,credit card,NaN,NaN,NaN,NaN
1961,2019-03-19 16:43:59,2019-03-19 17:37:22,1,17.82,52.0,13.11,5.76,78.67,yellow,credit card,NaN,Garment District,NaN,Manhattan
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN
2742,2019-03-23 06:20:27,2019-03-23 06:20:59,1,0.00,55.0,0.00,0.00,55.80,yellow,credit card,NaN,NaN,NaN,NaN
3085,2019-03-24 15:43:02,2019-03-24 16:02:57,1,3.20,14.5,0.00,0.00,15.30,yellow,cash,NaN,NaN,NaN,NaN
3259,2019-03-30 00:39:09,2019-03-30 00:43:34,1,0.84,5.0,1.70,0.00,10.50,yellow,credit card,NaN,NaN,NaN,NaN
3644,2019-03-19 23:30:50,2019-03-19 23:32:33,2,0.00,103.0,20.65,0.00,123.95,yellow,credit card,NaN,NaN,NaN,NaN
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.50,6.5,0.00,0.00,9.80,yellow,other,NaN,Midtown East,NaN,Manhattan
3889,2019-03-30 06:42:55,2019-03-30 06:43:00,1,0.00,2.5,0.00,0.00,3.30,yellow,cash,NaN,NaN,NaN,NaN
4118,2019-03-15 14:01:54,2019-03-15 14:01:59,1,0.00,25.0,5.06,0.00,30.36,yellow,credit card,NaN,NaN,NaN,NaN
4127,2019-03-01 05:18:21,2019-03-01 05:18:30,2,0.04,2.5,0.00,0.00,3.80,yellow,cash,NaN,NaN,NaN,NaN
4281,2019-03-18 23:29:49,2019-03-18 23:38:00,1,2.10,9.0,2.06,0.00,12.36,yellow,credit card,NaN,NaN,NaN,NaN
4414,2019-03-29 20:42:47,2019-03-29 21:03:50,1,4.20,17.0,4.80,5.76,28.86,yellow,credit card,NaN,NaN,NaN,NaN
4772,2019-03-21 19:51:13,2019-03-21 19:57:03,1,0.72,5.5,1.46,0.00,8.76,yellow,credit card,NaN,NaN,NaN,NaN
4941,2019-03-01 08:12:28,2019-03-01 08:17:19,1,0.83,5.0,2.50,0.00,10.80,yellow,credit card,NaN,NaN,NaN,NaN
5263,2019-03-09 20:37:53,2019-03-09 21:07:20,1,4.99,22.0,5.16,0.00,30.96,yellow,credit card,NaN,NaN,NaN,NaN
5493,2019-03-06 12:14:00,2019-03-06 12:14:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
5624,2019-03-11 14:04:50,2019-03-11 14:04:50,1,0.00,2.5,0.00,0.00,3.30,green,cash,NaN,NaN,NaN,NaN
5638,2019-03-13 12:22:00,2019-03-13 12:22:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
6083,2019-03-19 15:34:00,2019-03-19 15:34:00,1,0.00,5.0,0.00,0.00,5.00,green,credit card,NaN,NaN,NaN,NaN

In [37]:
df.dropna(subset='pickup_zone', inplace=True)

In [38]:
df[df['pickup_zone'].isna()]

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

In [39]:
## threshold

In [40]:
# 4 th row 7 th column
df.iloc[4,7]

np.float64(13.4)

In [41]:
df.iloc[4,7]=15

In [42]:
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,15.00,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn